//=============================================
// Kolory 
//=============================================
$primary-background-color: #EFF1F7;
$primary-content-color: #696969;
//=============================================
// Punkty kontrolne dla zapytań medialnych
//=============================================
$breakpoints: ( medium: 650px, large: 1200px, );